{# app/Resources/views/article.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

{{ include('nav.html.twig')}}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h1 class="title h1">Article: n°{% for article in article %}{{ article.id }}{% endfor %}</h1>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                    <th>Rédacteur</th>
                                    <th>Date</th>
                                    <th>Fichier</th>
                                    <th>Paragraphe</th>
                                    <th>Langue</th>
                                    <th>Etat</th>
                                    <th>Version</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for article in article %}
                                <tr>

                                    <td>{{ article.id }}</td>
                                    <td>{{ article.titreArticle }}</td>
                                    <td>{{ article.categorieArticle }}</td>
                                    <td>{{ article.idRedacteur.prenomRedacteur }} {{ article.idRedacteur.nomRedacteur }}</td>
                                    <td>{{ article.dateArticle.format('j/m/Y, H:m:s')}}</td>
                                    <td>{{ article.fichierArticle }}</td>
                                    <td><p>{{ article.paragrapheArticle }}</p></td>
                                    <td>{{ article.idlangue }}</td>
                                    <td>Publié / non plublié</td>
                                    <td>{{ article.versionArticle}}</td>
                                    <td><a href="/article/modifier/{{ article.slugArticle }}" class="btn btn-warning"><i class="material-icons">mode edit</i></a></td>
                                    <td><a href="/article/supprimer/{{ article.slugArticle }}" class="btn btn-danger">X</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
<!-- buil | mode edit | create | face -->
{% endblock %}

{{ include('footer.html.twig')}}