{# app/Resources/views/article.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

<h1>Articles</h1>

{{ include('nav.html.twig')}}

<table>
    <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Résumé</th>
        <th>Date</th>
        <th>Fichier</th>
        <th>Paragraphe</th>
        <th>Langue</th>
        <th>Modifier</th>

    </tr>
    {% for article in article %}
    <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.titreArticle }}</td>
        <td>{{ article.categorieArticle }}</td>
        <td>{{ article.resumeArticle }}</td>
        <td>{{ article.dateArticle.format('M j, Y')}}</td>
        <td>{{ article.fichierArticle }}</td>
        <td>{{ article.paragrapheArticle }}</td>
        <td>{{ article.idlangue }}</td>
        <td><a href="{{ path("modifier article", {'slug':article.slug}) }}">M</a></td>

    </tr>
    {% endfor %}
</table>

    <a href="/article/ajouter">Ajouter</a>
{% endblock %}

{{ include('footer.html.twig')}}