{# app/Resources/views/article_modifier.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

<h1>Modifier Article</h1>

{{ include('nav.html.twig')}}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<button type="submit">Modifier</button>
{{ form_end(form) }}

{% endblock %}

{{ include('footer.html.twig')}}