{# app/Resources/views/articles.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

{{ include('nav.html.twig')}}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h1 class="title h1">Article list</h1>
                        <p class="category"><a href="/article/ajouter">Ajouter un article</a></p>
                    </div>
                    <div class="card-content table-responsive">
                        <table>
                            <tr>
                                <!--
                                <th>#</th>
                                <th>Titre</th>
                                <th>Catégorie</th>
                                <th>Résumé</th>
                                <th>Date</th>
                                <th>Fichier</th>
                                <th>Paragraphe</th>
                                <th>Langue</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                                -->
                                <thead class="text-primary">
                                <th>Titre</th>
                                <th>Catégorie</th>
                                <th>Rédacteur</th>
                                <th>Publication</th>
                                <th>Version</th>
                                <th>Supprimer</th>
                                <th>Modifier</th>
                                </thead>
                                <tbody>

                                    </tr>
                                    {% for article in article %}
                                    <tr>
                                        <!--
                                        <td><a href="/article/{{ article.slugArticle }}">{{ article.id }}</a></td>-->
                                        <!--<td>{{ article.titreArticle }}</td>-->
                                        <td>{{ article.categorieArticle }}</td>
                                        <!--<td>{{ article.resumeArticle }}</td>-->
                                        <td>{{ article.dateArticle.format('M j, Y')}}</td>
                                        <!--<td>{{ article.fichierArticle }}</td>
                                        <td>{{ article.paragrapheArticle }}</td>
                                        <td>{{ article.idlangue }}</td>-->
                                        <td><a href="/article/modifier/{{ article.slugArticle }}" class="btn btn-warning">M</a></td>
                                        <td><a href="/article/supprimer/{{ article.slugArticle }}" class="btn btn-danger">X</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{{ include('footer.html.twig')}}