{# app/Resources/views/fonctions_redacteurs.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

<h1>Fonctions rédacteurs</h1>

{{ include('nav.html.twig')}}

<table>
    <tr>
        <th>#</th>
        <th>Fonction</th>

    </tr>
    {% for fonction in Fonction %}
        <tr>
            <td>{{ fonction.id }}</td>
            <td>{{ fonction.nomFonction }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{{ include('footer.html.twig')}}