{# app/Resources/views/langues_articles.html.twig #}

{{ include('header.html.twig')}}

{% block body %}

<h1>Langues articles</h1>

{{ include('nav.html.twig')}}

<table>
    <tr>
        <th>#</th>
        <th>Langue</th>

    </tr>
    {% for langue in Langue %}
        <tr>
            <td>{{ langue.id }}</td>
            <td>{{ langue.nomLangue }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{{ include('footer.html.twig')}}