{# app/Resources/views/admin/article_modifier.html.twig #}

{{ include('admin/header.html.twig')}}

{% block body %}

{{ include('admin/nav.html.twig')}}



    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="orange">
                                <h1 class="title h1">Rédiger article</h1>
                            </div>
                            <div class="card-content">
                                {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        {{ form_label(form.titreArticle, "Titre", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.titreArticle, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        {{ form_label(form.idCategorie, "Categorie", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.idCategorie, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        {{ form_label(form.idLangue, "Langue", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.idLangue, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        {{ form_widget(form.paragrapheArticle, {'attr': {'class': 'form-control wysiwyg'}}) }}
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="label-floating">
                                        <label class="control-label">Choose an image file ( .png, .jpg, .jpeg, .gif )</label>
                                        <input type="file" accept="*">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        {{ form_label(form.idPublication, "Publier", {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.idPublication, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        <input type="submit" value="Envoyer" class="btn btn-warning">
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{{ include('admin/footer.html.twig')}}