{# app/Resources/views/admin/langues_articles.html.twig #}

{{ include('admin/header.html.twig')}}

{% block body %}

{{ include('admin/nav.html.twig')}}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h1 class="title h1">Langues</h1>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>#</th>
                                    <th>Langue</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for langue in langues %}
                                    <tr>
                                        <td>{{ langue.idLangue }}</td>
                                        <td>{{ langue.nomLangue }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <a href="{{ path("admin ajout langue") }}" class="btn btn-warning">Ajouter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{{ include('admin/footer.html.twig')}}